<%- include('partials/header', {title: 'Blogs Page', activeTab: activeTab}) %>
<div class="duo_blogs_function">
  <ul class="nav nav-tabs" id="main_tab" role="tablist">
    <li class="nav-item" role="presentation">
      <!-- <a class="nav-link active" aria-current="page" href="#">All</a> -->
      <button
        class="nav-link <%= activeTab === 'create' ? 'active' : '' %>"
        id="tab_create"
        data-bs-toggle="tab"
        data-bs-target="#tab_forcreate"
        type="button"
        role="tab"
      >
        Create
      </button>
    </li>
    <li class="nav-item" id="nav_back" role="presentation">
      <button
        class="nav-link <%= activeTab === 'info' ? 'active' : '' %>"
        id="all_latest"
        data-bs-toggle="tab"
        data-bs-target="#info"
        type="button"
        role="tab"
      >
        Information
      </button>
    </li>
    <!-- <li class="nav-item" id="nav_back" role="presentation">
      <button
        class="nav-link"
        id="all_popular"
        data-bs-toggle="tab"
        data-bs-target="#popular"
        type="button"
        role="tab"
      >
        Popular
      </button>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
    <li class="nav-item dropdown" role="presentation">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
      >
        Idea's topics blog
      </a>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            id="tab_tech"
            data-bs-toggle="tab"
            data-bs-target="#tabtech"
            role="tab"
            >Technology</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_science"
            data-bs-toggle="tab"
            data-bs-target="#tabscience"
            role="tab"
            >Science</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_lifestyle"
            data-bs-toggle="tab"
            data-bs-target="#tablifestyle"
            role="tab"
            >Lifestyle</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_art"
            data-bs-toggle="tab"
            data-bs-target="#tabart"
            role="tab"
            >Art</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_travel"
            data-bs-toggle="tab"
            data-bs-target="#tabtravel"
            role="tab"
            >Travel</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- Content of tab -->
<div class="tab-content mt-3" id="Content_Tab">
  <div class="tab-pane fade show active" id="tab_forcreate" role="tabpanel">
    <div class="card card-articles card-button">
      <!-- <div class="card-body">Form creating blog will be showed here..</div> -->
      <img
        class="icon-button"
        src="/icon/icon-plus.png"
        alt="Icon Plus"
        data-bs-toggle="modal"
        data-bs-target="#popupCreate"
      />
      <div id="blogLists" class="mt-4"></div>
      <!--This is pop up -->
      <div
        class="modal"
        id="popupCreate"
        tabindex="-1"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Blog</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form id="createForm" action="">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="title_of_blog" class="title_label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title_of_blog"
                    name="title"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="tag_of_blog" class="tag_label">Tag</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tag_of_blog"
                    name="tag"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="contents_of_blog" class="content_label"
                    >Content</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    id="contents_of_blog"
                    name="content"
                    required
                  ></textarea>
                </div>
                <div class="footer-of-modal">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--This end of pop up -->
    </div>
  </div>

  <div class="tab-pane fade" id="info" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All information will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="popular" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All popular articles will show here..</div>
    </div>
  </div>

  <div class="tab-pane fade" id="tabtech" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All tech articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabscience" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All science articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tablifestyle" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All lifestyle articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabart" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All art articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabtravel" role="tabpanel">
    <div class="card card-article card-button">
      <div class="card-body">All travel articles will show here..</div>
    </div>
  </div>

  <!--This is pop up update-->
  <div
    class="modal"
    id="popupUpdate"
    tabindex="-1"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Blog</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form id="updateForm" action="">
          <div class="modal-body">
            <div class="mb-3">
              <label for="update_title_blog" class="title_label">Title</label>
              <input
                type="text"
                class="form-control"
                id="update_title_blog"
                name="title"
                required
              />
            </div>
            <div class="mb-3">
              <label for="update_tag_blog" class="tag_label">Tag</label>
              <input
                type="text"
                class="form-control"
                id="update_tag_blog"
                name="tag"
                required
              />
            </div>
            <div class="mb-3">
              <label for="update_contents_blog" class="content_label"
                >Content</label
              >
              <textarea
                type="text"
                class="form-control"
                id="update_contents_blog"
                name="content"
                required
              ></textarea>
            </div>
            <div class="footer-of-modal">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--This end of pop up -->

  <!-- //SCRIPT POP UP\\ -->
  <script>
    const createForm = document.getElementById("createForm");
    const createList = document.getElementById("blogLists");
    createForm.addEventListener("submit", (e) => {
      e.preventDefault();

      const title = document.getElementById("title_of_blog").value;
      const tag = document.getElementById("tag_of_blog").value;
      const content = document.getElementById("contents_of_blog").value;

      const id = Date.now();

      const newPost = document.createElement("div");
      newPost.classList.add("create_card_body");
      newPost.setAttribute("data-id", id);
      newPost.innerHTML = `

        <!-- Card of content -->
        <div class="d-flex align-items-start mb-3">
          <div class="card create_card_body flex-grow-1">
            <h4 class="card-title">
              ${title}
            </h4>
            <p class="card-text">
              <small class="text-muted">
                Write by Ulf's Creativity 
              </small>
            </p>
            <br>
            <p class="cards-text">${content}</p>
            <br>
            <h6 class="card-subtitle">${tag}</h6>
          </div>

          <div class="d-flex flex-row ms-3">
            <div class="mx-2">
              <img
                class="icon-button btn-update"
                src="/icon/icon-update.png"
                alt="Icon Update"
                data-bs-toggle="modal"
                data-bs-target="#popupUpdate"
              />
            </div>

            <div>
              <img
                class="icon-button btn-delete"
                src="/icon/icon-trash.png"
                alt="Icon Trash"
                data-bs-toggle=""
                data-bs-target=""
              />
            </div>
          </div>
        </div>
        <!-- End Card of content -->
      `;
      createList.appendChild(newPost);

      createForm.reset();
      bootstrap.Modal.getInstance(
        document.getElementById("popupCreate")
      ).hide();
    });

    createList.addEventListener("click", function (e) {
      const cardUpdate = e.target.closest(".create_card_body");
      if (!cardUpdate) return;
      // Update
      if (e.target.classList.contains("btn-update")) {
        document.getElementById("update_title_blog").value =
          cardUpdate.querySelector("h4").innerText;
        document.getElementById("update_tag_blog").value =
          cardUpdate.querySelector("h6").innerText;
        document.getElementById("update_contents_blog").value =
          cardUpdate.querySelector("p.cards-text").innerText;

        // Save target id to form update
        document.getElementById("updateForm").dataset.targetId =
          cardUpdate.dataset.id;
      }

      // Delete
      if (e.target.classList.contains("btn-delete")) {
        cardUpdate.remove();
      }
    });

    // Handling update button
    document.getElementById("updateForm").addEventListener("submit", (e) => {
      e.preventDefault();

      const id = e.target.dataset.targetId;
      const cardUpdate = document.querySelector(
        `.create_card_body[data-id="${id}"]`
      );

      if (cardUpdate) {
        cardUpdate.querySelector("h4").innerText =
          document.getElementById("update_title_blog").value;
        cardUpdate.querySelector("h6").innerText =
          document.getElementById("update_tag_blog").value;
        cardUpdate.querySelector("p.cards-text").innerText =
          document.getElementById("update_contents_blog").value;
      }
      bootstrap.Modal.getInstance(
        document.getElementById("popupUpdate")
      ).hide();
    });
  </script>
  <!-- End of script pop up create -->

  <div class="tab-pane fade" id="tab_forsetting" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">Setting for blogs will be showed here..</div>
    </div>
  </div>
</div>
<!-- End Content of Tab -->

<%-include('partials/footer') %>
