<%- include('partials/header', {title: 'Blogs Page'}) %>

<div class="duo_blogs_function">
  <ul class="nav nav-tabs" id="main_tab" role="tablist">
    <li class="nav-item" role="presentation">
      <!-- <a class="nav-link active" aria-current="page" href="#">All</a> -->
      <button
        class="nav-link active"
        id="all_post"
        data-bs-toggle="tab"
        data-bs-target="#allpost"
        type="button"
        role="tab"
      >
        All Post
      </button>
    </li>
    <li class="nav-item" id="nav_back" role="presentation">
      <button
        class="nav-link"
        id="all_latest"
        data-bs-toggle="tab"
        data-bs-target="#latest"
        type="button"
        role="tab"
      >
        Latest
      </button>
    </li>
    <li class="nav-item" id="nav_back" role="presentation">
      <button
        class="nav-link"
        id="all_popular"
        data-bs-toggle="tab"
        data-bs-target="#popular"
        type="button"
        role="tab"
      >
        Popular
      </button>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li> -->
    <li class="nav-item dropdown" role="presentation">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
      >
        Categories
      </a>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            id="tab_tech"
            data-bs-toggle="tab"
            data-bs-target="#tabtech"
            role="tab"
            >Technology</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_science"
            data-bs-toggle="tab"
            data-bs-target="#tabscience"
            role="tab"
            >Science</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_lifestyle"
            data-bs-toggle="tab"
            data-bs-target="#tablifestyle"
            role="tab"
            >Lifestyle</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_art"
            data-bs-toggle="tab"
            data-bs-target="#tabart"
            role="tab"
            >Art</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            id="tab_travel"
            data-bs-toggle="tab"
            data-bs-target="#tabtravel"
            role="tab"
            >Travel</a
          >
        </li>
      </ul>
    </li>
  </ul>

  <div class="btn-group" id="button_action">
    <button
      class="btn btn_blogs_action btn-lg dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Large button
    </button>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_forcreate"
          role="tab"
          aria-controls="tab_forcreate"
          >Create</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_foredit"
          role="tab"
          aria-controls="tab_foredit"
          >Edit</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_fordelete"
          role="tab"
          aria-controls="tab_fordelete"
          >Delete</a
        >
      </li>
      <li><hr class="divider_dropdown_item" /></li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_forsetting"
          role="tab"
          aria-controls="tab_forsetting"
          >Setting</a
        >
      </li>
    </ul>
  </div>
</div>

<!-- Content of tab -->
<div class="tab-content mt-3" id="Content_Tab">
  <div class="tab-pane fade show active" id="allpost" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">
        <!-- All articles will show here.. -->
        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobyMarkusSpiske.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Apakah AI akan menggantikan mata pencaharian manusia ?
                </h4>
                <p class="card-text">
                  AI sudah tidak asing lagi dikalangan insan manusia.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 2 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobySerpstat.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Metode bisnis yang tepat untuk pemula. Apa saja itu?
                </h4>
                <p class="card-text">
                  Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                  mengetahui metode yang tepat agar kamu bisa berbinis dengan
                  tepat.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 1 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobyMarkusSpiske.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Apakah AI akan menggantikan mata pencaharian manusia ?
                </h4>
                <p class="card-text">
                  AI sudah tidak asing lagi dikalangan insan manusia.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 2 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobySerpstat.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Metode bisnis yang tepat untuk pemula. Apa saja itu?
                </h4>
                <p class="card-text">
                  Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                  mengetahui metode yang tepat agar kamu bisa berbinis dengan
                  tepat.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 1 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobyMarkusSpiske.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Apakah AI akan menggantikan mata pencaharian manusia ?
                </h4>
                <p class="card-text">
                  AI sudah tidak asing lagi dikalangan insan manusia.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 2 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobySerpstat.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Metode bisnis yang tepat untuk pemula. Apa saja itu?
                </h4>
                <p class="card-text">
                  Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                  mengetahui metode yang tepat agar kamu bisa berbinis dengan
                  tepat.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 1 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobyMarkusSpiske.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Apakah AI akan menggantikan mata pencaharian manusia ?
                </h4>
                <p class="card-text">
                  AI sudah tidak asing lagi dikalangan insan manusia.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 2 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobySerpstat.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Metode bisnis yang tepat untuk pemula. Apa saja itu?
                </h4>
                <p class="card-text">
                  Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                  mengetahui metode yang tepat agar kamu bisa berbinis dengan
                  tepat.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 1 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobyMarkusSpiske.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Apakah AI akan menggantikan mata pencaharian manusia ?
                </h4>
                <p class="card-text">
                  AI sudah tidak asing lagi dikalangan insan manusia.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 2 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->

        <!-- Card of content -->
        <div class="card mb-3 main_card_body">
          <div class="row g-0">
            <div class="col-md-3">
              <img
                src="/photos/PexelsPhotobySerpstat.png"
                alt="Picture of IT"
                class="img-fluid rounded-start img-one"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body card_body_right">
                <h4 class="card-title">
                  Metode bisnis yang tepat untuk pemula. Apa saja itu?
                </h4>
                <p class="card-text">
                  Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                  mengetahui metode yang tepat agar kamu bisa berbinis dengan
                  tepat.
                  <a href="">Mau tahu lebih lanjut?</a>
                </p>

                <p class="card-text">
                  <small class="text-muted">
                    Write by Ulf's Creativity <br />
                    <hr />
                    Last update 1 hours ago
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Card of content -->
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="latest" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All latest articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="popular" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All popular articles will show here..</div>
    </div>
  </div>

  <div class="tab-pane fade" id="tabtech" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All tech articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabscience" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All science articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tablifestyle" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All lifestyle articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabart" role="tabpanel">
    <div class="card card-article">
      <div class="card-body">All art articles will show here..</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabtravel" role="tabpanel">
    <div class="card card-article card-button">
      <div class="card-body">All travel articles will show here..</div>
    </div>
  </div>

  <div class="tab-pane fade" id="tab_forcreate" role="tabpanel">
    <div class="card card-articles card-button">
      <!-- <div class="card-body">Form creating blog will be showed here..</div> -->
      <img
        class="icon-button"
        src="/icon/icon-plus.png"
        alt="Icon Plus"
        data-bs-toggle="modal"
        data-bs-target="#popupCreate"
      />
      <!--ini pop up -->
      <div
        class="modal"
        id="popupCreate"
        tabindex="-1"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create New Blog</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form action="">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="title_of_blog" class="title_label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title_of_blog"
                    name="title"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="tag_of_blog" class="tag_label">Tag</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tag_of_blog"
                    name="tag"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="contents_of_blog" class="content_label"
                    >Content</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    id="contents_of_blog"
                    name="content"
                    required
                  ></textarea>
                </div>
                <div class="footer-of-modal">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--Akhir dari pop up -->
    </div>
  </div>

  <div class="tab-pane fade" id="tab_foredit" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">Form editing blog will be showed here..</div>
    </div>
  </div>

  <div class="tab-pane fade" id="tab_fordelete" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">
        Confirmation for deleting blogs will be showed here..
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="tab_forsetting" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">Setting for blogs will be showed here..</div>
    </div>
  </div>
</div>
<!-- End Content of Tab -->

<!-- Content of Right Button -->
<!-- <div class="tab-content mt-3"></div> -->
<!-- End Content of Right Button -->
<%-include('partials/footer') %>
