<%- include('partials/header', {title: 'Home Page'}) %>

<div
  class="p-5 mb-4 rounded-15 text-white d-flex align-items-center justify-content-center"
  style="
    background: url(/photos/PexelsPhotobyPixabay.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 20px 20px;
  "
>
  <!-- <div
    class="position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.77)"
    ;
  ></div> -->
  <div class="text-center px-3">
    <h1 class="display-5 fw-bold">Enjoy your day with our blog..</h1>
    <p class="col-md-8 fs-4 mx-auto">
      Every skill learned is an investment for the future. Success is the result
      of hard work and perseverance.
    </p>
  </div>
</div>

<div class="duo_home_cards">
  <div class="card mb-3 show_card_home_tag1" style="max-width: 42rem">
    <div class="card-header">Tag 1</div>
    <div class="card-body">
      <h5 class="card-title">Tag 1</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content. Some quick example text to build on the card
        title and make up the bulk of the card’s content. Some quick example
        text to build on the card title and make up the bulk of the card’s
        content. Some quick example text to build on the card title and make up
        the bulk of the card’s content. Some quick example text to build on the
        card title and make up the bulk of the card’s content. Some quick
        example text to build on the card title and make up the bulk of the
        card’s content.
      </p>
    </div>
  </div>

  <div class="card mb-3 show_card_home_tag2" style="max-width: 42rem">
    <div class="card-header">Tag 2</div>
    <div class="card-body">
      <h5 class="card-title">Tag 2</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content. Some quick example text to build on the card
        title and make up the bulk of the card’s content. Some quick example
        text to build on the card title and make up the bulk of the card’s
        content. Some quick example text to build on the card title and make up
        the bulk of the card’s content. Some quick example text to build on the
        card title and make up the bulk of the card’s content. Some quick
        example text to build on the card title and make up the bulk of the
        card’s content.
      </p>
    </div>
  </div>
</div>
<!-- <main>
  <p>This is home page..</p>
</main> -->

<!-- Nav Tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="all-tab"
      data-bs-toggle="tab"
      data-bs-target="#all"
      type="button"
      role="tab"
    >
      All Posts
    </button>
  </li>

  <!-- Dropdown Tab -->
  <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
    >
      Categories
    </a>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          id="tech-tab"
          data-bs-toggle="tab"
          data-bs-target="#tech"
          role="tab"
        >
          Tech
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          id="lifestyle-tab"
          data-bs-toggle="tab"
          data-bs-target="#lifestyle"
          role="tab"
        >
          Lifestyle
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          id="travel-tab"
          data-bs-toggle="tab"
          data-bs-target="#travel"
          role="tab"
        >
          Travel
        </a>
      </li>
    </ul>
  </li>
</ul>

<!-- Tab Content -->
<div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="all" role="tabpanel">
    <div class="card">
      <div class="card-body">Semua artikel tampil di sini</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tech" role="tabpanel">
    <div class="card"><div class="card-body">Artikel kategori Tech</div></div>
  </div>
  <div class="tab-pane fade" id="lifestyle" role="tabpanel">
    <div class="card">
      <div class="card-body">Artikel kategori Lifestyle</div>
    </div>
  </div>
  <div class="tab-pane fade" id="travel" role="tabpanel">
    <div class="card"><div class="card-body">Artikel kategori Travel</div></div>
  </div>
</div>

<%- include('partials/footer') %>
