<%- include('partials/header', {title: 'Home Page'}) %>

<div
  class="p-5 mb-4 rounded-15 text-white d-flex align-items-center justify-content-center"
  style="
    background: url(/photos/PexelsPhotobyPixabay.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 20px 20px;
  "
>
  <!-- <div
    class="position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.77)"
    ;
  ></div> -->
  <div class="text-center px-3">
    <h1 class="display-5 fw-bold">Enjoy your day with our blog..</h1>
    <p class="col-md-8 fs-4 mx-auto">
      Every skill learned is an investment for the future. Success is the result
      of hard work and perseverance.
    </p>
  </div>
</div>
<!-- <main>
  <p>This is home page..</p>
</main> -->

<%- include('partials/footer') %>
