<div class="tab-pane fade show active" id="allpost" role="tabpanel">
  <div class="card card-article">
    <div class="card-body">
      <!-- All articles will show here.. -->
      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobyMarkusSpiske.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Apakah AI akan menggantikan mata pencaharian manusia ?
              </h4>
              <p class="card-text">
                AI sudah tidak asing lagi dikalangan insan manusia.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 2 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobySerpstat.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Metode bisnis yang tepat untuk pemula. Apa saja itu?
              </h4>
              <p class="card-text">
                Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                mengetahui metode yang tepat agar kamu bisa berbinis dengan
                tepat.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 1 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobyMarkusSpiske.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Apakah AI akan menggantikan mata pencaharian manusia ?
              </h4>
              <p class="card-text">
                AI sudah tidak asing lagi dikalangan insan manusia.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 2 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobySerpstat.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Metode bisnis yang tepat untuk pemula. Apa saja itu?
              </h4>
              <p class="card-text">
                Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                mengetahui metode yang tepat agar kamu bisa berbinis dengan
                tepat.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 1 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobyMarkusSpiske.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Apakah AI akan menggantikan mata pencaharian manusia ?
              </h4>
              <p class="card-text">
                AI sudah tidak asing lagi dikalangan insan manusia.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 2 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobySerpstat.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Metode bisnis yang tepat untuk pemula. Apa saja itu?
              </h4>
              <p class="card-text">
                Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                mengetahui metode yang tepat agar kamu bisa berbinis dengan
                tepat.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 1 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobyMarkusSpiske.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Apakah AI akan menggantikan mata pencaharian manusia ?
              </h4>
              <p class="card-text">
                AI sudah tidak asing lagi dikalangan insan manusia.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 2 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobySerpstat.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Metode bisnis yang tepat untuk pemula. Apa saja itu?
              </h4>
              <p class="card-text">
                Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                mengetahui metode yang tepat agar kamu bisa berbinis dengan
                tepat.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 1 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobyMarkusSpiske.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Apakah AI akan menggantikan mata pencaharian manusia ?
              </h4>
              <p class="card-text">
                AI sudah tidak asing lagi dikalangan insan manusia.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 2 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->

      <!-- Card of content -->
      <div class="card mb-3 main_card_body">
        <div class="row g-0">
          <div class="col-md-3">
            <img
              src="/photos/PexelsPhotobySerpstat.png"
              alt="Picture of IT"
              class="img-fluid rounded-start img-one"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body card_body_right">
              <h4 class="card-title">
                Metode bisnis yang tepat untuk pemula. Apa saja itu?
              </h4>
              <p class="card-text">
                Banyak sekali orang yang sudah mulai berbisnis. Penting untuk
                mengetahui metode yang tepat agar kamu bisa berbinis dengan
                tepat.
                <a href="">Mau tahu lebih lanjut?</a>
              </p>

              <p class="card-text">
                <small class="text-muted">
                  Write by Ulf's Creativity <br />
                  <hr />
                  Last update 1 hours ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card of content -->
    </div>
  </div>
</div>

<!-- <div class="btn-group" id="button_action">
    <button
      class="btn btn_blogs_action btn-lg dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Large button
    </button>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_forcreate"
          role="tab"
          aria-controls="tab_forcreate"
          >Create</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_foredit"
          role="tab"
          aria-controls="tab_foredit"
          >Edit</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_fordelete"
          role="tab"
          aria-controls="tab_fordelete"
          >Delete</a
        >
      </li>
      <li><hr class="divider_dropdown_item" /></li>
      <li>
        <a
          class="dropdown-item"
          data-bs-toggle="tab"
          data-bs-target="#tab_forsetting"
          role="tab"
          aria-controls="tab_forsetting"
          >Setting</a
        >
      </li>
    </ul>
  </div> -->
<!-- <div class="tab-pane fade" id="tab_foredit" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">Form editing blog will be showed here..</div>
    </div>
  </div>

  <div class="tab-pane fade" id="tab_fordelete" role="tabpanel">
    <div class="card card-articles card-button">
      <div class="card-body">
        Confirmation for deleting blogs will be showed here..
      </div>
    </div>
  </div> -->
<!-- <div>
          <h5 class="card-title">${title}</h5>
          <h5 class="card-subtitle">${tag}</h5>
          <p class="card-text">${content}</p>
        </div> -->
<!-- Content of Right Button -->
<!-- <div class="tab-content mt-3"></div> -->
<!-- End Content of Right Button -->

<!-- Nav Tabs -->
<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="all-tab"
      data-bs-toggle="tab"
      data-bs-target="#all"
      type="button"
      role="tab"
    >
      All Posts
    </button>
  </li>

<-- Dropdown Tab -->
<!-- <li class="nav-item dropdown" role="presentation">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
    >
      Categories
    </a>
    <ul class="dropdown-menu">
      <li>
        <a
          class="dropdown-item"
          id="tech-tab"
          data-bs-toggle="tab"
          data-bs-target="#tech"
          role="tab"
        >
          Tech
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          id="lifestyle-tab"
          data-bs-toggle="tab"
          data-bs-target="#lifestyle"
          role="tab"
        >
          Lifestyle
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          id="travel-tab"
          data-bs-toggle="tab"
          data-bs-target="#travel"
          role="tab"
        >
          Travel
        </a>
      </li>
    </ul>
  </li>
</ul> -->

<!-- Tab Content -->
<!-- <div class="tab-content mt-3" id="myTabContent">
  <div class="tab-pane fade show active" id="all" role="tabpanel">
    <div class="card">
      <div class="card-body">Semua artikel tampil di sini</div>
    </div>
  </div>
  <div class="tab-pane fade" id="tech" role="tabpanel">
    <div class="card"><div class="card-body">Artikel kategori Tech</div></div>
  </div>
  <div class="tab-pane fade" id="lifestyle" role="tabpanel">
    <div class="card">
      <div class="card-body">Artikel kategori Lifestyle</div>
    </div>
  </div>
  <div class="tab-pane fade" id="travel" role="tabpanel">
    <div class="card"><div class="card-body">Artikel kategori Travel</div></div>
  </div>
</div> -->
