*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom left, #7401d8, #ff6a00, #FFF8E6);
    font-family: "Akaya Kanadaka", system-ui;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.home_header{
    padding-left: 20px;
}
.home_header h1{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}
.navbar-brand{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem !important;
}
.navbar-nav{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem !important;
}
footer{
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}
.navbar.navbar-expand-lg{
    background-color: rgb(255, 248, 230);
}
.show_card_home_tag1{
    margin-left: 20px;
    background-color: rgb(255, 248, 230, 0.65);
    /* margin-top: 20px; */
}
/* .show_card_home_tag1 .card-header{
    background-color: rgb(255, 248, 230);
}
.show_card_home_tag1 .card-body{
    background-color: rgb(116, 1, 216);
} */
.show_card_home_tag2{
    margin-right: 20px;
    background-color: rgb(255, 248, 230, 0.65);
}
.duo_home_cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* pad: 0 15px; */
    /* flex-wrap: wrap; */
    gap: 15px;
}
.nav-tabs{
    background-color: rgb(255, 248, 230, 0.85);
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    margin-top: 20px;
    margin-left: 20px;
    /* margin-right: 20px; */
}
.duo_blogs_function{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* pad: 0 15px; */
    /* flex-wrap: wrap; */
    gap: 15px;
}
.duo_blogs_function .nav-tabs{
    flex-grow: 1;
}
#button_action{
    margin-top: 20px;
    margin-right: 20px;   
}